body{
    height: 100vh;
    font-family:  Helvetica, sans-serif;
}
  
 .navbar-brand{
     font-size: 30px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 Footer{
     margin-bottom: 0;
    
    padding: 1rem;
    background-color: rgb(10, 25, 53);
    position: relative;
    bottom: 0;
    left: 0;
    
 }
 .card{
    width: 18rem;
    margin: 5px 10px;
    background: cornsilk;
 }
 Header{
     position: fixed;
     top: 0;
     right: 0;
 }
 .nav-link{
     color: white;
 }
  i{
      width: 100px;
      height: 100px;
      
  }